.SelectedCompany {
	margin-bottom: 300px;
	display: flex;
	justify-content: space-between;
	.wrapper {
		display: flex;
		column-gap: 20px;
		.label {
			text-align: left;
			display: flex;
			flex-direction: column;
			.inner {
				position: relative;

			}
		}
		.input {
			background-color: rgb(237 238 242);
			border: 1px solid rgb(160 160 160);
			padding: 5px;
			font-size: 18px;
		}
		.btn_add {
			margin-top: auto;
			font-size: 18px;
			padding: 5px;
		}
	}
}
