.UserMoneyInput {
	margin-bottom: 25px;
	display: flex;
	align-items: center;
	column-gap: 10px;
	.target {
		margin: 0;
	}
	.input {
		text-align: center;
		background-color: rgb(237 238 242);
		border: 1px solid rgb(160 160 160);
		padding: 5px;
		font-size: 18px;
	}
}
