.App {
	text-align: center;
	.wrapper {
		margin-bottom: 25px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.info {
			position: fixed;
			margin: 0;
			top: 0;
			left: 0;
			right: 0;
			background-color: tomato;
			
		}
	}
}
