.App {
	text-align: center;
	.wrapper {
		margin-bottom: 25px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.info,
		.loading {
			position: fixed;
			margin: 0;
			top: 0;
			left: 0;
			right: 0;
		}
		.info {
			z-index: 9;
			background-color: tomato;
		}
		.loading {
			z-index: 99;
			background-color: mediumseagreen;
		}
	}
}
