html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	padding-top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	// height: 100vh;
}
