@import '../../style/mixin.scss';
.SelectedCompany {
	margin-bottom: 300px;
	display: flex;
	justify-content: space-between;
	.wrapper {
		display: flex;
		column-gap: 20px;
		.label {
			text-align: left;
			display: flex;
			flex-direction: column;
		}
		.input {
			@include input-style();
		}
		.btn_add {
			margin-top: auto;
			font-size: 18px;
			padding: 5px;
		}
	}
}
