.AddCompany {
	margin-bottom: 100px;
	// position: relative;
	display: flex;
	justify-content: space-between;
	.wrapper {
		width: 50%;
		position: relative;
		display: flex;
		column-gap: 20px;
		.search {
			width: 200px;
			height: 25px;
		}
		.list {
			top: 25px;
			width: 200px;
			left: 0;
			background-color: white;
			overflow-x: hidden;
			position: absolute;
			max-height: 100px;
			.company {
				text-align: left;
				cursor: pointer;
				&:hover {
					background-color: rgb(0, 128, 0, 0.5);
				}
			}
		}
		.btn_add {
			height: 25px;
		}
	}
}
