.table {
  margin-bottom: 25px;
  max-width: 1000px;
  .thead {
    .tr {
      width: 100px;
      .th {
        .button {
          position: relative;
          background-color: inherit;
          padding: 0 15px;
          border: none;
          cursor: pointer;
        }
        .show::after {
          position: absolute;
          content: '⬇';
          top: 50%;
          right: 5px;
          translate: 0 -50%;
        }
        .show.rotate::after {
          content: '⬆';
        }
      }
    }
  }
  .tbody {
    .tr {
      background-color: rgb(0, 128, 0, 0.1);
    }
    .imoex_color {
      background-color: rgb(0, 0, 255, 0.1);
    }
  }
  .ticker {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 20px;
    .image {
      width: 24px;
    }
    .text {
      margin: 0;
    }
    .decor {
      position: absolute;
      right: -5px;
      bottom: -7px;
      margin: 0px;
      font-size: 10px;
    }
  }
}
