.table {
  margin-bottom: 25px;
  max-width: 1000px;
  .thead {
    .tr {
      width: 100px;
      .th {
        .button {
          position: relative;
          background-color: inherit;
          padding: 0 15px;
          border: none;
          cursor: pointer;
        }
        .show::after {
          position: absolute;
          content: '⬇';
          top: 50%;
          right: 5px;
          translate: 0 -50%;
        }
        .show.rotate::after {
          content: '⬆';
        }
      }
    }
  }
  .ticker {
    display: flex;
    align-items: center;
    column-gap: 20px;
    .image {
      width: 24px;
    }
    .text {
      margin: 0;
    }
  }
}
